.grid {
  width: 100%;
}

.grid::before,
.grid::after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-']{
  float: left;
}

[class*='col-'] {
    padding-right: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

.col-1-5{
  width: 20%;
}

.col-3-10{
  width: 30%;
}

.col-7-10 {
  width: 70%;
}

.col-offset-1-5{
  margin-left: 20%;
}

.col-offset-3-10 {
  margin-left: 30%;
}
