.media-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.media-item {
  width: 154px;
}

.movie-title {
    padding-bottom: 5px;
    line-height: 28px;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.04em;
    color: #fff;
    text-rendering: optimizeLegibility;  
}

.movie-backdrop {
  width: 100%;
  max-height: 652px;
}

.movie-backdrop img {
  max-width: 100%;
  max-height: 100%;
}

.movie h3 {
  text-align: center;
  overflow: hidden;
}

.movie-metadata {
  width: 185px;
}

.movie-vote-average {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  display: block;
  border: 2px solid #E9FAE3;
}

.movie-vote-average span {
  font-size: 10px;
  color: #dedede;
}

.customer-review p {
  white-space: pre-wrap;
}

.cast-list td {
  vertical-align: baseline;
  padding: 4px 6px 6px 6px;
}

.cast-list img {
  vertical-align: middle;
  width: 32px;
  height: 44px;
}

#customer-reviews h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#customer-reviews .review-meta {
  margin-bottom: 10px;
}