.searchBar{
  padding:10px;
  width: 250px;
  margin-bottom: 5px;
}

.movie__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.movie {
  width: 154px;
}

.movie img {
  border-radius: 4px;
}

.movie h3 {
  text-align: center;
  overflow: hidden;
}

.customer-review p {
  white-space: pre-wrap;
}

.cast-list td {
  vertical-align: baseline;
  padding: 4px 6px 6px 6px;
}

.cast-list img {
  vertical-align: middle;
  width: 32px;
  height: 44px;
}
