.nav-item {
  display: inline-block;
  font-weight: bold;
  padding: 10px;
}

.nav-item-link {
  padding-bottom: 5px;
  text-decoration: none;
}

.nav-item-link-is-active{
  border-bottom: 3px solid #10A5E8;
}
